<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="img/bday.jpg">
              <span class="card-title">HAPPY BIRTHDAY!</span>
            </div>
            <div class="card-content">
              <p>I hope your birthday is as fun as this picture is lame!<br>Sincerely,</p>
               <div class="row">
                <form class="col s12">
                 <div class="row">
                  <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate">
                  <label for="first_name">Name</label>
               </div>
            </div>
            <div class="card-action" href="">
              <a href="">CLICK ME FOR YOUR CARD</a>
            </div>
          </div>
        </div>
      </div>