<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="img/holiday1.jpg">
              <span class="card-title">HAPPY HOLIDAYS!</span>
            </div>
            <div class="card-content">
              <p>Hoping your Holiday Season is as great as you are<br>With Love,</p>
               <div class="row">
                <form class="col s12">
                 <div class="row">
                  <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Textarea</label>
                  </div>
                 </div>
                </form>
               </div>
            </div>
            <div class="card-action">
              <a href="holiday.html">CLICK ME FOR YOUR CARD</a>
            </div>
          </div>
        </div>
      </div>