<div class="row center"><h3 style="font-family:'Futura'; font-weight: bold; color:yellow;">Complete fields below to create your card</h3></div>
    

  <div class="row blue-grey lighten-4">
    <div>
      <form action="#">
       <div class="file-field input-field">
        <div class="btn">
         <span>Choose Your Own File</span>
         <input type="file" ng-model="fileInput">
        </div>
        <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
        </div>
        </div>
  </form>
    </div> 

    <form class="col s12">
      <div class="row">
        <div class="input-field col s12;">
          <textarea id="textarea1" class="materialize-textarea" ng-model="cardText"></textarea>
          <label for="textarea1">Input message below:</label>
        </div>
      </div>
    </form>
  </div>

<!-- <div class="row">
  <form class="col s6 offset-s3" style="color: white;">
    <div class="input-field white">
      <input type="text" class="validate" ng-model="noun0">
      <label></label>
    </div> -->
      <!-- <div class="input-field white">
        <input type="text" class="validate" ng-model="adjective0">
        <label>Adjective</label>
      </div>
      <div class="input-field white">
        <input type="text" class="validate" ng-model="adjective1">
        <label>Adjective</label>
      </div>
      <div class="input-field white">
        <input type="text" class="validate" ng-model="adjective2">
        <label>Adjective</label>
      </div>
      <div class="input-field white">
        <input type="text" class="validate" ng-model="verb0">
        <label>Verb</label>
      </div>
      <div class="input-field white">
        <input type="text" class="validate" ng-model="verb1">
        <label>Verb</label>
      </div>
      <div class="input-field white">
        <input type="text" class="validate" ng-model="verb2">
        <label>Verb</label>
      </div>
      <div class="input-field white">
        <input type="text" class="validate" ng-model="pluralNoun0">
        <label>Plural Noun</label>
      </div>
      <div class="input-field white">
        <input type="text" class="validate" ng-model="nameOfTA0">
        <label>Name of TA</label>
      </div>
      <div class="input-field white">
        <input type="text" class="validate" ng-model="nameOfClassmate0">
        <label>Name of Classmate</label>
      </div>
 -->
      <!--  -->
  </form>
  <div class="row"><div class="center-align"><button class="btn waves-effect waves-light" href="outputGreetingCard.html" ng-click="completeStory()">Submit<!-- <i class="material-icons right">send</i> --></button></div></div>
</div>

<!-- <div class="container" ng-hide="storyNotDone">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header teal"><i class="material-icons">touch_app</i>Reveal my story.</div>
      <div class="collapsible-body"><p>{{madLibBeesknees}}</p></div>
    </li>
  </ul>
</div>
 -->