<div class="row center"><h3 style="font-family:'Futura'; font-weight: bold; color:white;"></h3></div>
   
  <div class="row">
        <div class="col s12 m7">
          <div class="card" ng-repeat="image in cardimages">
            <div class="card-image">
              <img ng-src="{{image.url}}">
              <span class="card-title">{{image.tag}}</span>
            </div>
            <div class="card-content">

             <div class="row">
             <form class="col s12">
              <div class="row">
               <div class="input-field col s6">
               <input id="card_text" type="text" class="validate" ng-model="card_text">
               <label for="card_text">Input Text Here</label>
             </div>
             <div class="input-field col s6">
               <input id="first_name" type="text" class="validate" ng-model="card_name">
               <label for="first_name">Name</label>
             </div>
            </div>
            <div class="card-action">
              <a ng-click="cardCreated(cardText, cardName)">This is a link</a>
            </div>
          </div>
        </div>
      </div>  

  



  <!-- <div class="row blue-grey lighten-4">
    <div>
      <form action="#">
       <div class="file-field input-field">
        <div class="btn">
         <span>Choose Your Own File</span>
         <input type="file">
        </div>
        <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
        </div>
        </div>
  </form>
    </div> 
   <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
             
              <p><br><br></p>
               <div class="row">
                <form class="col s12">
                 <div class="row">
                  <div ng-hide="hideElements" class="input-field col s6">
                  <input id="first_name" type="text" class="validate" ng-model"cardName">
                  <label for="first_name" ng-model"cardName">Name</label>
               </div>
            </div>
            <div ng-hide="hideElements" class="card-action">
              <!-- <a href="#" ng-click="cardCreated()">CLICK ME FOR YOUR CARD</a> -->
             <!--  <a ng-click="cardCreated()">CLICK ME FOR YOUR CARD</a>
            </div>
          </div>
        </div>
      </div> -->
   <!--  <form class="col s12">
      <div class="row">
        <div class="input-field col s12;">
          <textarea id="textarea1" class="materialize-textarea" ng-model="cardText"></textarea>
          <label for="textarea1">Input message below:</label>
        </div>
      </div>
    </form>
  </div>


  </form>
  <div class="row"><div class="center-align" ng-bindHTML="showElements"><button class="btn waves-effect waves-light" ng-href="#partials/yourcard">Submit</button></div></div>
</div> -->





<!-- <div class="container" ng-hide="storyNotDone">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header teal"><i class="material-icons">touch_app</i>Reveal my story.</div>
      <div class="collapsible-body"><p>{{madLibBeesknees}}</p></div>
    </li>
  </ul>
</div>
 -->