<div class="row center">
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="img/developer.jpg">
        <span class="card-title">How To Be a Developer</span>
      </div>
      <div class="card-content">
        <p>Follow these simple steps to become a developer.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="img/classmates.jpg">
        <span class="card-title">My Classmates</span>
      </div>
      <div class="card-content">
        <p>My classmates are the beesknees.</p>
      </div>
      <div class="card-action">
        <a ng-href="#/beesknees">Do Mad Lib</a>
      </div>
    </div>
  </div>

  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="img/codingSpot.jpg">
        <span class="card-title">The Best Places to Code</span>
      </div>
      <div class="card-content">
        <p>In case you get bored of coding on the toilet.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
