<div class="row center">
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="img/christmas_ornament.png">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        <p>Tis the season.....</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="img/question-mark.jpg">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        <p>Create a "custom" card</p>
      </div>
      <div class="card-action">
        <a ng-href="#/beesknees">This is a link</a>
      </div>
    </div>
  </div>

  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="img/birthday-icon-3.jpg">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        <p>You say it's your Birthday?!</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
